.App {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  font-family: var(--ring-font-family);
  font-size: var(--ring-font-size);
  background-color: var(--ring-content-background-color, #fff);
  color: var(--ring-text-color, #1f2326);
}

.formControlButtons {
  margin-top: 32px;
}

.credTypesCustom {
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
}

.commentary {
  inline-size: 400px;
  overflow-wrap: break-word;
  margin-block-start: 0;
  margin-block-end: 0;

  color: #737577;

  font-size: 12px;
  line-height: 16px;
}

.helpButtonShift {
  margin-top: 24px
}

.magicButtonShift {
  margin-top: 22px
}

.uploadButton {
  margin-top: 8px;
}

.cfLoader {
  display: inline-flex;
  margin-left: 100px;
}

.convertWarningBox {
  margin-top: 12px;
  width: 400px;
  height: 48px;
  padding: 8px 16px;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  background: #FAECCD;
}

.convertWarningBox button {
  padding: 0;
  height: 16px;
}

.convertWarningBox button span > span {
  color: #0F5B99;
}
