.App {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  font-family: var(--ring-font-family);
  font-size: var(--ring-font-size);
  background-color: var(--ring-content-background-color, #fff);
  color: var(--ring-text-color, #1f2326);
}

.formControlButtons {
  margin-top: 32px;
}

.credTypesCustom {
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
}

.commentary {
  inline-size: 240px;
  overflow-wrap: break-word;
  margin-block-start: 0;
  margin-block-end: 0;

  color: #737577;

  font-size: 12px;
  line-height: 16px;
}

.helpButtonShift {
  margin-top: 24px
}
