<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="S3 Tests">
  <test name="S3 tests">
    <classes>
      <class name="jetbrains.buildServer.artifacts.s3.retry.RetrierTest"/>
      <class name="jetbrains.buildServer.artifacts.s3.S3PreSignUrlHelperTest"/>
      <class name="jetbrains.buildServer.artifacts.s3.S3UtilTest"/>
    </classes>
  </test>
</suite>
