<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="S3 Tests">
  <test name="S3 tests">
    <classes>
      <class name="jetbrains.buildServer.artifacts.s3.PresignedUrlRequestSerializerTest"/>
      <class name="jetbrains.buildServer.artifacts.s3.S3UtilTest"/>
      <class name="jetbrains.buildServer.artifacts.s3.S3DtoSerializerTest"/>
      <class name="jetbrains.buildServer.artifacts.s3.publish.presigned.upload.S3PresignedUploadTest"/>
      <class name="jetbrains.buildServer.artifacts.s3.cloudfront.PresignedUrlsProviderDownloadTest"/>
    </classes>
  </test>
</suite>
