<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="S3 Agent Tests">
  <test name="S3 agent tests">
    <classes>
      <class name="jetbrains.buildServer.artifacts.s3.publish.presigned.util.S3MultipartUploadFileSplitterTest"/>
      <class name="jetbrains.buildServer.artifacts.s3.publish.S3ArtifactsPublisherTest"/>
      <class name="jetbrains.buildServer.artifacts.s3.publish.logger.StatisticsLoggerTest"/>
      <class name="jetbrains.buildServer.artifacts.s3.download.S3DownloadIOUtilTest"/>
      <class name="jetbrains.buildServer.artifacts.s3.download.S3ArtifactTransportTest"/>
      <class name="jetbrains.buildServer.artifacts.s3.download.parallel.FileSplitterImplTest"/>
    </classes>
  </test>
</suite>
