<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="S3 Agent Tests">
  <test name="S3 agent tests">
    <classes>
      <class name="jetbrains.buildServer.artifacts.s3.publish.presigned.util.RepeatableFilePartRequestEntityTest"/>
      <class name="jetbrains.buildServer.artifacts.s3.publish.S3ArtifactsPublisherTest"/>
    </classes>
  </test>
</suite>
